 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.head{
    background-color: #A5D6A7;
    font-size: small;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.411);
   }

.dash{
    padding-left: 400px;
}
 
